@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.mobile-header{
    display: none;
}

.mobile-header, .header{
    padding: 2rem;
    position: fixed;
    background-color: #f0f1f2;
    width: 100%;
}

ul{
    display: flex;
    gap: 5rem;
    text-decoration: none;
    text-transform: uppercase;
}
li{
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

li:hover{
    color: #90cfe0;
    transition: .2s;
}
.logo{
    font-weight: 700;
    font-size: 22px;
}

.home-container, 
.about-container,
.services-container,
.contact-container{
    background-color: #101d2e;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.home-child-container{
    margin: .5rem 0rem 0rem 12rem;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    gap:5rem;
    justify-content: center;
    align-items: center;
}

.home-intro{
    min-width: 50%;
    margin: 1rem;
}

.image-container{
    width: 500px;
    height: 350px;
    background-image: url('../img/IMG_20240208_111317.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #eef0f3;
    box-shadow: 0 0 70px 30px #90cfe0;
}

h1{
    color: #eef0f3;
    font-size: 50px;
}

h4{
    color: #eef0f3;
    font-size: 25px;
    text-transform: uppercase;
}
p{
    font-size: 25px;
    color: #90cfe0;
}
small{
    color: #90cfe0;
}
.btn-container{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

a{
    background-color: #eef0f3;
}

a,button{
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: .5rem;
    font-size: 18px;
}

.content{
    margin: 5rem 0rem 0rem;
    display: flex;
    gap: 20rem;
    justify-content: center;
    align-items: center;
}

.icon{
    background-color: #eef0f3;
    padding: 1rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 90px 30px #90cfe0;
    text-align: center;
}

.about-text{
    max-width: 40%;
}

.text{
    color: #eef0f3;
    font-size: 18px;
}

.social-container{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.cv-btn{
    background-color: #90cfe0;
    display: flex;
    gap: .2rem;
}

.github-btn{
    display: flex;
    gap: .2rem;
}

.cv-btn:hover{
    background-color: #eef0f3;
    box-shadow: 0 0 40px 10px #90cfe0;
    transition: .5s;
}

.github-btn:hover{
    background-color: #90cfe0;
    box-shadow: 0 0 40px 10px #90cfe0;
    transition: .5s;
}

.social:hover{
    box-shadow: 0 0 40px 10px #90cfe0;
    transition: .2s;
}

.row{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
}
.about-child-container,
.services-child-container,
.contact-child-container{
    margin: 10rem 0rem 0rem 5rem;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 5rem;
    min-width: 90%;
}

.card{
    max-width: 400px;
    max-height: 400px;
    padding: 2rem;
    background-color: #eef0f3;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #90cfe0;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 0 40px 10px #90cfe0;
    transition: .2s;
}

.card-header{
    font-weight: 600;
    text-align: center;
}

input{
    min-width: 320px;
    outline: none;
}
textarea{
    min-width: 320px;
    max-width: 550px;
    outline: none;
}

input:focus, textarea:focus{
    border: 1px solid #90cfe0;
}

.card-contact{
    min-width: 320px;
    max-width: 550px;
    background-color: #eef0f3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 40px 10px #90cfe0;
}
.button-container{
    text-align: center;
}

.send-btn{
    background-color: #90cfe0;
    min-width: 120px;
}

.send-btn:hover{
    background-color: #eef0f3;
    border: 2px solid #90cfe0;
    transition: .2s
}

.card-body{
    display: grid;
    padding: .2rem;
    gap: 1rem;
}

.tech{
    display: flex;
    gap: .2rem
}